.yellow {
    color: yellow
}

.p :nth-child(3) {
    color: green;
}

p :nth-child(2) {
    color: gray;
}
div :nth-child(3) {
    color: gray;
}

div :nth-child(7) {
    color: green;
}

div :nth-child(5) {
    color: red;
}
.text-box > h3:first-child {
    color: pink;
}
    